html {

        /* color schemes */
        --lightFontColor: #d88d71;
        --darkFontColor: black;
        --darkBackgroundColor:#8f9d73;
        --lightBackgroundColor:#e2ded0;



        background-color: var(--lightBackgroundColor);
}
h1{
    font-size: 2rem;
    text-align: center;
    margin: 30px;
    color: var(--lightFontColor);
}
nav{
    margin: 20px;

    display: flex;
    justify-content: space-evenly;

    background-color: var(--darkBackgroundColor);
    padding: 15px;
}
nav a{
    font-size: 1.5rem;
    text-decoration: underline;
    color:VAR(--darkFontColor);

}
#sunset{
    border:5px solid #8f9d73;

    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#sunset img{
    width:20%;

    border-radius: 15px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#children img{
    width:30%;

    border-radius: 15px;
    margin:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#pond{
    border:5px solid #8f9d73;

    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#pond img{
    width:90%;

    border-radius: 15px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
